{% extends "base.html" %}

{% block content %}
<br>
<div style="width: 100%; overflow: hidden; display: flex; align-items: center; justify-content: center; height: 600px;">
    <iframe 
    src="https://www.google.com/maps/embed?pb=!4v1650138478545!6m8!1m7!1sCAoSLEFGMVFpcE8yQ2VBZ2Z5WFBRd0toNWVYZndRZTg2UElFVXhuNDdDS3kyWERF!2m2!1d33.92678194344445!2d35.80716769736532!3f166.6389652726608!4f4.771130284143823!5f0.7820865974627469" 
    width="100%" 
    height="700" 
    frameborder="0"
    style="border:0; display:block; margin-top: -75px;">
    </iframe>
</div>
<br>
<form method="POST">
    <center>
        <button type="submit" class="btn btn-primary" name="answer" value="france">
            La France
        </button>&nbsp;&nbsp;
        <button type="submit" class="btn btn-primary" name="answer" value="lebanon">
            Le Liban
        </button>
    </center>
</form>
{% endblock %}